html {
    background-color: black;
}

.OuterTrendingPage {
    padding: 80px 30px;
}

.TrendingPageHeaders {
    padding: 10px 10px;
}

.AllIndicesDiv {
    z-index: 1;
    display: flex;
    overflow: scroll;
}

.AllIndicesDiv::-webkit-scrollbar {
    display: none;
}

.AllIndicesCardDiv1 {
    box-sizing: border-box;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    min-width: 250px;
    width: fit-content;
    min-height: 80px;
    padding: 0 30px;
    outline: 2px solid white;
    margin: 10px 10px;
    justify-content: space-around;
}

.AllIndicesCardDiv2 {
    height: 30%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.AllIndicesCardH3 {
    justify-content: space-evenly;
    height: 70%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.AllIndicesCardHeader {
    color: white;
    margin: 0 0;
}

.AllIndicesCardH4::after {
    content: 'INR';
    font-size: x-small;
}

.AllIndicesCardH5::after {
    content: '%';

}

.optionIndices {
    color: white;
    background-color: black;
    height: 40px;
    margin-left: 10px;
    outline: 1px solid white;
    border-radius: 10px;
    border: none;
}

.optionIndices::-webkit-scrollbar {
    display: none;
}

.optionIndices>option {
    color: white;
}

.MostActiveDiv {
    display: flex;
    overflow: scroll;
}

.MostActiveDiv::-webkit-scrollbar {
    display: none;
}

.MostActiveTrendingPageDiv1 {
    box-sizing: border-box;
    padding: 20px 20px;
    height: 300px;
    min-width: 250px;
    width: fit-content;
    margin: 10px 10px;
    border: 1px solid white;
    border-radius: 15px;
    overflow: hidden;
}

.MostActiveTrendingPageDiv1:hover {
    background-color: rgba(255, 255, 255, 0.048);
}

.MostActiveTrendingPageimgDiv {
    height: 80px;
    width: 80px;
    background-color: white;
    border-radius: 5px;
}

.MostActiveTrendingPageimg {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.MostActiveTrendingPageHeaders {
    color: white;

}

.MostActivePrice {
    color: violet;
    display: flex;
    justify-content: space-between;
}

.MostActivePrice>span::before {
    content: '₹';
    color: violet;
}

.MostActiveTrendingPageHeadersIndustry {
    display: flex;
    margin-top: 50px;
    align-items: flex-end;
    justify-content: space-around;
}

.SearchIconTrendingPage {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 10px 10px;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    position: relative;
}

.SearchIconTrendingPage>input {
    width: calc(100% - 90px);
    height: 100%;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: large;
    font-weight: 800;
    display: flex;
    align-items: center;
}

.inputTrendingButton {
    box-sizing: border-box;
    width: 80px;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: large;
    font-weight: 600;
    outline: 1px solid white;
    border-radius: 10px;
    padding: 0 5px;
}

/* 
.splide__list {
    display: flex;
    padding: 0 0;
    margin: 0 0;
    list-style: none;
}


.splide__sr {
    display: none;
}

.splide__slide {
    min-width: fit-content !important;
} */

.splide{
    width: 100% !important;
}

.splide__list{
    gap: 15px !important;
}

.focusedborderradius{
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.hiddenfilterbar{
    max-height: 70vh;
    width: 100%;
    position: absolute;
    background-color: black;
    top: 48px;
    left: -1px;
    outline: none;
    border: 1px solid white;
    border-top: 0px solid black;
    overflow: scroll;
    z-index: 2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow-x: hidden;
}

.hiddenfilterbar>ul{
    margin: 0 0;
    padding: 0 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    list-style: none;
    overflow: hidden;
}

.hiddenfilterbar>ul>a{
    text-decoration: none;

}

.hiddenfilterbar>ul>a>li{
    box-sizing: border-box;
    color: white;
    margin: 0 0;
    padding: 0 0;
    width: 100%;
    padding: 10px 38px;
    height: fit-content;
}

.hiddenfilterbar>ul>a>li:hover{
    background-color: rgba(255, 255, 255, 0.144);
}